body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
form div {
  margin: 1em;
  display: inline-block;
}

.carousel-border {
  border: 1px solid purple;
  border-radius: 10px;
  width: 100%; /*added*/
  overflow: hidden;
}

.logo-image {
  height: 50px;
  width: 100px;
}

.background-color {
  background: #d3d3d3;
}

.spinner {
  align-items: center;
}
